<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GameVault</title>
    <link href="{{url_for('static',filename='index.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='favicon.ico')}}" rel="icon" type="image/x-icon">
</head>
<body>
{% include "navbar.html" %}
<div class="games-container">

<div class="games-grid">
        {% for dev in data %}
        <div class="game-card">
            <div class="game-info">
                <h3>{{dev[1]}}</h3>
                <p class="description">{{dev[2]}}</p>
                <a href="/developer_about/{{dev[0]}}" class="view-button">More</a>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>
</body>
</html>