<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GameVault</title>
    <link href="{{url_for('static',filename='index.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='favicon.ico')}}" rel="icon" type="image/x-icon">
</head>

<body>
    {% include "navbar.html" %}
    <div class="games-container">
        <h1>Friends List</h1>

        <div class="games-grid">
            {% for friends in data %}
            <div class="game-image">
                <!-- for user profile picture -->
                <img src="{{ url_for('static', filename='images/' ~ user[1] ~ '.webp') }}" alt="{{ user[1] }} image" />
            </div>
            <div class="game-info">
                <h3>{{dev[1]}}</h3>
                    <p class="description">{{friends[3]}}</p>
            </div>
            {% endfor %}
        </div>
</body>