<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GameVault</title>
    <link href="{{url_for('static',filename='index.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='favicon.ico')}}" rel="icon" type="image/x-icon">
</head>

<body>
    {% include "navbar.html" %}
    <div class="games-container">
        <h1>Friends List</h1>

        <div class="friends-grid">
            {% for friends in data %}
                <div class="profile-image">
                    <img src="{{ url_for('static', filename='images/' ~ friends[0] ~ '.webp') }}" alt="{{ friends[0] }} image" />
                   <!-- <p class="library-text">Friend ID: {{ friends[0] }}</p> -->
                </div>
                <div class="game-info">
                    <h3>User ID: {{ friends[0] }}</h3>
                    <p class="description">Date Friended: {{ friends[2] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="games-container">
        <form action="{{ url_for('add_friend') }}" method="POST">
            <button type="submit">Add Friend</button>
            <input type="text" name="friendID" placeholder="Enter Friend's User ID" required>
        </form>
    </div>

</body>