<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GameVault</title>
    <link href="{{url_for('static',filename='index.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='favicon.ico')}}" rel="icon" type="image/x-icon">
</head>
<body>
{% include 'navbar.html' %}

<div class="center-div">
    <div>
        <h1>Featured Games</h1>
    </div>

    <div class="games-grid">
        {% for game in games %}
        <div class="game-card">
            <div class="game-image">
                <img src="{{ url_for('static', filename='images/' ~ game[1] ~ '.webp') }}" alt="{{ game[1] }} image" />
                <!-- <div class="image-placeholder">{{game[1]}}</div> -->
            </div>
            <div class="game-info">
                <h3>{{game[1]}}</h3>
                <a class="developer" href="/developer_about/{{game[6]}}">{{game[6]}}</a>
                <md class="description">{{game[3]}}</md>
                <div class="game-meta">
                    <span class="checkpoints">{{game[4]}} checkpoints</span>
                    <span class="$"> ${{game[5]}}</span>
                </div>
                <a href="/games/{{game[0]}}" class="view-button">View</a>
                <a href="{{ url_for('add_to_cart', game_id=game[0]) }}" class="add-button">Add to Cart </a>

            </div>
        </div>
        {% endfor %}
    </div>

    <div><h1>Featured Developers</h1></div>
    <div class="games-grid">
        {% for dev in devs %}
        <div class="game-card">
            <div class="game-info">
                <h3>{{dev[1]}}</h3>
                <md class="description">{{dev[2]}}</md>
                <a href="/developer_about/{{dev[0]}}" class="view-button">More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script> 
</html>
