<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GameVault</title>
    <link href="{{url_for('static',filename='index.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='favicon.ico')}}" rel="icon" type="image/x-icon">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="center-div">
    <div>
        <h1>Featured Games</h1>
    </div>
    <div class="games-grid">
        {% for game in tables %}
        <p>{{game}}</p>
        {% endfor %}
    </div>
    <div><h1>Featured Developers</h1></div>
    <div>
    
    </div>
    </div>
</body>
</html>
