<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GameVault</title>
    <link href="{{url_for('static',filename='index.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='favicon.ico')}}" rel="icon" type="image/x-icon">
</head>
<body>
    <div class="nav-container">
        <header class="nav-header">
            <div class="nav-brand">
                <a href="/" class="nav-logo">
                    <img src="{{ url_for('static', filename='favicon.ico') }}" class="logo-icon" alt="Logo">
                    GameVault
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="#" class="nav-link">Home</a></li>
                <li><a href="/games" class="nav-link">Games</a></li>
            </ul>

            <div class="nav-buttons">
                <button type="button" class="btn-login">Login</button>
                <button type="button" class="btn-signup">Sign-up</button>
            </div>
        </header>
    </div>

    <div class="center-div">
        {% for d in tables %}
            <p>{{d}}</p>
        {% endfor %}
    </div>
</body>
</html>
