<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GameVault</title>
    <link href="{{url_for('static',filename='index.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='favicon.ico')}}" rel="icon" type="image/x-icon">
</head>
<body>
    {% include "navbar.html" %}

    {% if not user %}
    <p>You are not logged in!</p>
    {% else %}
    <div class="left-div">
    <div>
    {% for game in games%}
        <div class="library-item">
            <p class="library-text">{{game[0]}}</p>
            <p class="library-text">Checkpoints: {{game[1]}}/{{game[2]}}</p>
        </div>
    {% endfor %}
    </div>
    </div>
    {% endif %}
</body>
</html>