{% block content %}
<div class="nav-container">
  <header class="nav-header">
    <div class="nav-brand">
      <a href="/" class="nav-logo">
        <img src="{{ url_for('static', filename='favicon.ico') }}" class="logo-icon" alt="Logo">
        GameVault
      </a>
    </div>

    <ul class="nav-links">
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="{{ url_for('games') }}" class="nav-link">Games</a></li>
      <li><a href="{{ url_for('developers') }}" class="nav-link">Developers</a></li>
      <li><a href="{{ url_for('library') }}" class="nav-link">Library</a></li>
      <li><a href="{{ url_for('friends') }}" class="nav-link">Friends</a></li>
    </ul>

      <div class="nav-buttons">
      {% if session.loggedin %}
      <div class="nav-dropdown">
        <button class="nav-username">{{ session.username }} ⌄</button>
        <div class="nav-dropdown-content">
          <a href="/user_profile/{{session.userID}}">Profile</a>
          <a href="{{ url_for('toggle_developer') }}">
            {% if session.get('developer') == 1 %}
              Disable Developer Mode
            {% else %}
              Enable Developer Mode
            {% endif %}
          </a>
          <a href="{{ url_for('logout') }}">Logout</a>
        </div>
      </div>
      
        </div>
        <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}"   class="nav-link">Login</a>
        <a href="{{ url_for('register') }}" class="nav-link">Register</a>           
      {% endif %}

      
      <a href="{{ url_for('cart') }}" class="nav-link">
        🛒 Cart
        {% if session.get('cart') and session.cart|length > 0 %}
          ({{ session.cart|length }})
        {% endif %}
      </a>
      {% if session.get('developer') == 1 %}
    <a href="{{ url_for('add_game') }}" class="nav-link">Add Game</a>
      {% endif %} 
    </div>
  </header>
</div>
{% endblock %}

